html {
  background: #1d1d1d;
  color: white;
  font-family: Montserrat, 'Courier New', Courier, monospace;
}

body {
  margin: 0;
}

button {
  box-shadow: none;
  border: none;
  background-color: #1B5E20;
  color: white;
  padding: 0.5rem;

  &:disabled {
    background-color: #485b49;
  }
}