.card__container {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card-button {
  width: 4rem;
  height: 5.75rem;
  background-size: 100%;
  position: relative;
  border: none;
  border-right: 2px solid black;
  aspect-ratio: 4/5.75;
  /* flex-grow: 1;
  flex-basis: 50%; */

  background: var(--card-background);
  background-size: cover;
  color: var(--card-text-color);
}

.card-button--selected {
  outline: 2px solid white;
}

.card-button__text {
  position: absolute;
  font-weight: 700;
}

.card-button__text--top {
  top: 0.25rem;
  right: 0.25rem;
}

.card-button__text--bottom {
  bottom: 0.35rem;
  left: 0.25rem;
}

@media only screen and (max-width: 768px) {
  .lost-city-expedition {
    width: 100%;
  }

  .card__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  }

  .card-button {
    min-width: 2.5rem;
    min-height: 4rem;
    max-width: 4rem;
    max-height: 5.75rem;
    width: initial;
    height: initial;
  }
}

@media (hover: hover) and (pointer: fine) {
  .card-button:hover {
    outline: 2px solid white;
  }
}